# ignore everything in the current directory, EXCLUDING the current directory since we need it to exclude further sub-directories
/*

# dont ignore these though
!.gitignore
!.zsh_aliases
!.zlogout
!.zprofile
!.zshrc

# this is how we un-ignore a specific directory
# (source: https://stackoverflow.com/questions/44568184/gitignore-everything-except-a-subfolder-with-every-content)
!.config/
.config/*
!.config/nvim/
.config/nvim/plugin/
